$primary: #2e7e7e;
$secondary: rgb(61, 60, 60);
$success: rgb(42, 99, 34);
$danger: rgb(95, 13, 22);
$info: rgb(34, 84, 138);
$warning: rgb(148, 146, 26);
$light: rgb(66, 62, 62);
$dark: #000000;

@import "./../../node_modules/bootstrap/scss/bootstrap";