$primary: #84e8e8;
$secondary: #DDDDDD;
$success: #4EF037;
$danger: #FA4659;
$info: #007BFF;
$warning: #F4F133;
$light: #EEEEEE;
$dark: #353535;

@import "./../../node_modules/bootstrap/scss/bootstrap";